
#top {
    position: relative;
    background-color: #036fab;
    color: white;
    padding: 0.4em;
}

#left {
    float: left;
    padding: 0.4em;
    margin: 0.2em 2em 0.2em 0.2em;
    width: 175px;
    overflow: hidden;
}

#content {
    background-color: #fff;
    padding: 0.4em;
    margin: 0.8em;
    width: 80%;
    float: left;
    overflow: hidden;
    border: solid #ddd 0.2em;
    border-radius: 0.8em;
    box-shadow: 0.4em 0.4em 0.6em #555;
}

#img{
    margin: 0;
}

#slider{
    position: relative;
    padding: 0;
    margin: 0.6em auto;
    width: 95%;
    height: 200px;
}

#previous{
    position: absolute;
    top: 0;
    left: 0;
    color: white;
    float: left;
    width: 6em;
    height: 200px;
}

#next{
    position: absolute;
    top: 0;
    right: 0;
    color: white;
    float: right;
    width: 6em;
    height: 200px;
}


#previous img, #next img{
    margin-top: 100%;
}

#bottom {
    background-color: #036fab;
    color: white;
    margin: 0.4em auto;
    padding: 0.4em;
    clear: left;
}

#bottom > div{
    width: 50%;
    margin: auto;
    text-align: center;
    padding: 0.4em;    
}
